<h5>Patch reproducer</h5>

<ng-container *ngIf="info?.isLoggedIn then authed; else nonAuthed"></ng-container>
<ng-template #nonAuthed>
  <div class="line">Login:
    <pre>test-account</pre>
  </div>
  <div class="line">Password:
    <pre>testtest</pre>
  </div>
  <button class="login" type="button" (click)="login()">Log in</button>
</ng-template>
<ng-template #authed>
  Logged in with {{info?.webId}} <button type="button" (click)="logout()">Log out</button>
</ng-template>

<h5 *ngIf="profile">Web ID</h5>
<pre>{{profile}}</pre>

<div *ngIf="profile">
  <button type="button" (click)='doPatch()'>PATCH test triple</button>
  <button type="button" (click)='doRestoreWebId()' [style.marginLeft]="'8px'">PUT original WebId </button>
</div>